@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

:root {
  --primary-dark: #dd1717;
  --primary-light: #ff7d7d;
  --neutral: #ffee2e;
}

.icon {
  color: var(--primary-dark);
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    @apply font-[Montserrat]
  }
  li {
    @apply p-4
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-xl font-bold
  }

  button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
  }

  .rates {
    @apply bg-gradient-to-r from-[var(--primary-dark)] to-[var(--neutral)]
  }

  .icon {
    @apply text-2xl cursor-pointer 
  }
}

/* React custom booking alert */

#--react--toast-container {
  position: fixed;
  width: 50%;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

@media screen and (max-width: 500px) {
  #--react--toast-container {
    width: 95%;
  }
}
.--react--toast-alert {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  background-color: rgb(243 244 246);
  animation: fadeInExpand 150ms;
  margin: 15px 0 0 0;
  padding: 30px 15px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 0 20px 30px 0 #cbcbcb, 0 0 8px 0 #cbcbcb;
  text-align: center;
}

.--react--toast-alert p {
  font-weight: 600;
  margin: 0;
  word-break: break-word;
  color: #363636;
}

.--react--toast-alert svg {
  width: 20px;
  height: 20px;
}

@keyframes fadeInExpand {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 1;
    transform: scale(1.25);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

